@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:300,400,700&subset=latin-ext');
@font-face {
  font-family: 'oswald-regular';
  src: url('../fonts/fonts/oswald-regular-webfont.eot');
  src: url('../fonts/fonts/oswald-regular-webfont.woff') format('woff'),
       url('../fonts/fonts/oswald-regular-webfont.ttf') format('truetype'),
       url('../fonts/fonts/oswald-regular-webfont.svg#oswald-regular') format('svg');
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,
html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'latoregular', sans-serif;
    color: #6f6f6f;
}
body {
  padding-right: 0 !important;
}
::-webkit-scrollbar { width: 2px;  }/* for vertical scrollbars */
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); }
auto 100%
h1,h2,h3,h4,h5 {
  font-family: 'oswald-regular', Arial, sans-serif;
  word-spacing: 0.1em;
  letter-spacing: 0.02em;
}
h5 { font-size: 16px }
p { font-size: 14px }
@media (min-width: 1200px) {
  h5 { font-size: 22px }
  p { font-size: 20px }
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}
h1 small { text-transform: lowercase }
h2 {
    line-height: 32px;
    font-weight: 700;
}
a {
    color: #ffcc33;
    transition: all 0.5s;
}
a.trainer {
    color: #98559d;
    transition: all 0.5s;
}
.list-values{
  padding-left: 0;
}
ul.list-values{
  list-style-type: none;
  padding-left: 0;
}
ul.list-values li:nth-child(1) i{
  color: #57C1D8;
}
ul.list-values li:nth-child(2) i{
  color: #F8B238;
}
ul.list-values li:nth-child(3) i{
  color: #C977AE;
}
ul.list-values li:nth-child(4) i{
  color: #FFCC36;
}
ul.list-values li:nth-child(5) i{
  color: #7ABCE2;
}
ul.list-values li:nth-child(6) i{
  color: #A74894;
}
ul.list-values li:nth-child(7) i{
  color: #76C5B0;
}

.contact-detail [class*=" fa-"]:before, .count-box [class*=" fa-"]:before {
    text-align: center;
    display: inline-block;
    width: 100% !important;
}
.counter i.fa{
      text-align:center;
}

ul.list-values li{
  font-size: 2.1em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1.6em;
}
.btn {
  white-space: normal;
  word-wrap: break-word;
  border-radius: 40px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: 'oswald-regular', Arial, sans-serif;
}
.btn a {
  color: #ffffff;
}
a {
  text-decoration: underline;
}
a.btn {
  text-decoration: none;
}
a:hover,
a:focus {
    color: #ffffff;
    outline: none; /*Djana*/
}
a:hover,
a:focus {
    color: #ffcc33;
}
.landing-page a.btn-primary:hover,
.landing-page a.btn-primary:focus {
    color: #ffffff;
}
figure {
  margin: 1rem;
}
q {
  font-style: italic;
}
.action {
  margin-top: 24px;
}
.bottom-marged {
  margin-bottom: 40px;
}
.highlight { color: #a04c98 }
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block }
* html .clearfix { height: 1% }
.clearfix { display: block }
.modal-content button.close {
  padding: 15px;
  font-size: 25px;
}
.modal-title {
  text-align: center;
}

img.logo {
  max-width: 90px;
  max-height: 90px;
  margin-top: 4px;
  margin-bottom: 8px;
}

img.footer-logo {
  max-height: 26px;
}

#values .img-wrapper img {
  max-width: 60%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navigation */
#tst-menu {
    margin-bottom: 0;
    background-color: #ffffff;
    padding: 0;
    padding-top: 10px;
    height: auto;
}
.btn-primary {
    color: #676767;
    background-color: #ffcc33;
    border:none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ffcc33;
    border: none;
    color: #ffffff;
}
.btn-primary:disabled {
    background-color: #bbbbbb;
    border: none;
}
.navbar-brand img {
    height: 80px;
    width: auto;
    margin-top: -15px;
}
.navbar-brand { padding: 0px 0px }
.navbar-nav > li > a {
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    padding: 5px 5px;
    margin: 8px 10px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6f7176;
    border-bottom: 4px solid #985faf;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  text-align: center;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover>.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus>.navbar-default .navbar-toggle .icon-bar { color: #FFCC33 }
.navbar-default .navbar-toggle i.fa {
    font-size: 25px;
}
/* Header Page */
#tst-header {
    padding: 20px 0;
    background: #ffcc33;
    margin-top: 70px;
    color: #ffffff;
}
#tst-header .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: -10px;
}
#tst-header .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}
#tst-header .breadcrumb > li a { color: #ffffff }
/* Photo carousel */
.owl-carousel {
  position: relative;
}
.owl-prev,
.owl-next {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
  background-color: #ffcc33;
  background: rgba(255, 204, 51, 0.50);
  text-align: center;
  border-radius: 3px;
  top: 50%;
  margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
  transition: all 0.5s;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  color: #676767;
}
/* Home Style */
#tst-home {
    background: url(../img/Accueil_site_TST_Dec2016.png);
    background-size: cover;
    background-position: center;
}

#tst-home h1 {
  display: none;
}

#tst-home #home-container {
  width: 100vw;
  height: 100vh;
}

#tst-home #home-content {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
@media (orientation: portrait) {
  #tst-home #home-content {
    bottom: 6%;
  }
}
@media (orientation: landscape) and (max-aspect-ratio: 4/3) {
  #tst-home #home-content {
    bottom: 5%;
  }
}

blockquote {
  quotes: '«\00A0' '\00A0»';
}

.blockquote-reverse footer::after {
  content: '';
}

.blockquote footer::before {
  content: '';
}

#tst-home blockquote {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  font-family: 'latobold';
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}

#tst-home blockquote p {
font-size: 14px;
}
#tst-home blockquote p q {
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 992px) {
  #tst-home blockquote p {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #tst-home blockquote p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  #tst-home blockquote p {
    font-size: 28px;
  }
}

#tst-home blockquote footer {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1200px) {
  #tst-home blockquote footer {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  #tst-home blockquote footer {
    font-size: 20px;
  }
}

#home-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

#tst-home h1 { color: #ffad33 }
a.goto-btn {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
    transition: all 0.5s;
}
a.goto-btn:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffcc33;
}
/* Home Section Style 2 - With Video*/
#tst-home.video .overlay {
    padding: 0;
    padding-top: 10%;
}
.img-wrapper { position: relative }
.img-wrapper img.img-responsive { margin: 0 auto !important }
.img-wrapper i.fa {
    position: absolute;
    z-index: 10;
    top: 50%;
    font-size: 25px;
    background: rgba(32, 22, 22, 0.29);
    padding: 18px 23px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    margin-left: -30px;
    transition: all 0.3s;
}
.img-wrapper i.fa:hover { background: #ffcc33 }
/* Home Section Style 3 - Slider*/
#tst-home.slider { background: none }
#tst-home.slider .overlay { padding: 0 }
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 28%;
    bottom: auto;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    text-shadow: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #E5B112;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control { z-index: 2 }
/* Home Section Style 4 - App Header Style*/
#tst-home.app .overlay { padding: 10% 0 5% 0 }
#tst-home.app {background: url(../img/bg/02.jpg);}
a.goto-btn { margin-right: 30px }
.ipad-wrapper .app-wrap {
    position: relative;
    width: 395px;
}
.app-wrap {
    position: absolute;
    background: url(../img/header4.png);
    width: 395px;
    height: 540px;
    background-repeat: no-repeat;
    z-index: 2;
    left: 5%;
}
#owl-demo .item img {
    position: relative;
    width: 305px;
    height: auto;
    left: 12%;
    margin-top: 46px;
    z-index: -1;
}
.app .content-heading.text-left { padding: 15% 0 }
#tst-home.app .owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    margin: 5px;
    background: #ffffff !important;
    border: 2px solid transparent;
    opacity: 1;
}
#tst-home.app .owl-theme .owl-controls {
    margin-top: 60px;
    text-align: center;
}
#tst-home.app .owl-theme .owl-controls .owl-page.active span,
#tst-home.app .owl-theme .owl-controls.clickable .owl-page:hover span { border: 2px solid #FFCC33 }

/* Home Parallax Effect */
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#tst-home.parallax .bcg { background-image:url('../img/bg/slider03.jpg'); }
.parallax  .content-heading{
    padding: 20% 0;
    text-align: center;
}
/* Intro Section */
.landing-page {
  padding-bottom: 4%;
    background-color: #996a99;
    color: #ffffff;
    text-align: center;
}
#tst-intro img.intro-logo {
    margin: 0 auto;
    margin-bottom: 30px;
}
/* Service Section */
#tst-services { padding: 60px 0 }
.section-header {
    padding: 40px 0;
    text-align: center;
}
#tst-text {
    background-color: #b7c846;
    padding: 5% 0;
    color: #ffffff;
    text-align: center;
}
#tst-support-us p {
  text-align: justify;
}
#tst-support-us ul.features {
  margin-bottom: 10%;
}
.section-header h2 { text-transform: uppercase }
.section-header h5 { letter-spacing: 1px }
.fancy {
    line-height: 0.5;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #f1f1f1;
    top: 15px;
    width: 400px;
}
.fancy span:before {
    right: 100%;
    margin-right: 10px;
}
.fancy span:after {
    left: 100%;
    margin-left: 10px;
}
/* service lists */
.service { margin-bottom: 20px }
.service i.fa {
    text-align: center;
    font-size: 2.7em;
    color: #ffcc23;
    width: 50px;
    height: 50px;
    transition: color 0.5s;
}
.service .media-left i.fa {
    margin: 0;
    margin-left: 20px;
}
.service img.avatar-service {
    max-height: 90px;
    margin: 0 10px;
    margin-right: 20px;
}
.service .media-left img.avatar-service {
    max-height: 90px;
    margin: 0 10px;
    margin-left: 20px;
}
h4.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    line-height: 20px;
}
/* About Us */
#tst-about { padding: 40px 0 }
.yellow-bg { background-color: #ffad33 }
.img-wrap .profile-img {
    position: relative;
}
.img-wrap .profile-img img {
  max-width: 80%;
  max-height: 350px;
}
.profile-img .social {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: 50px;
}
.about-right-content { padding: 0 }
.about-left-content { padding-bottom: 0 }
.about-left-content h2,
.about-left-content h2 small { color: #333 }
.about-left-content h2 small { font-weight: 300 }
ul.social li a.fa {
    background: #FFCC32;
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    margin-right: -5px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0;
}
ul.social li a.fa:hover { background-color: #333333 }
/* Skills Progress Bar */
#tst-concept-details  .counter .count-box .count {
  font-weight: bold;
  font-size: 25px;
}
#tst-concept-details  .counter .count-box p {
  text-transform: uppercase;
  font-size: 15px;
}
.progress {
    height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #999999;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #FFCC32;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.skills {
    margin-top: 10px;
    padding: 10px 0;
}
.skillset p {
    font-size: 13px;
    margin-bottom: 5px;
}
/* Counter */
.facts { padding: 0 }
.facts .count-box {
  position: relative;
  min-height: 270px;
}
.count-box {
    -webkit-backface-visibility: hidden;
    border-left: 1px solid #d3d3d3;
    padding: 40px 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
    transform: translateX(0px) translateY(0%);
    -webkit-transform: translateX(0px) translateY(0%);
    -moz-transform: translateX(0px) translateY(0%);
    -ms-transform: translateX(0px) translateY(0%);
    -o-transform: translateX(0px) translateY(0%);
}

#tst-workshop-categories .count-box {
  min-height: 200px;
  padding: 25px 0;
}

#tst-workshop-categories .count-box img {
  max-width: 70px;
  margin-bottom: 15px;
}
.count-box a {
  color: #000000;
  text-decoration: underline;
}
/*.count-box .hover-bg{
  position: absolute;
  display: block;
  background-color: #FFCC32;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  transform: translateX(0px) translateY(150px);
  -webkit-transform: translateX(0px) translateY(150px);
  -ms-transform: translateX(0px) translateY(150px);
    -o-transform: translateX(0px) translateY(150px);
    opacity: 0;
}
.count-box:hover .hover-bg{
  background: #FFCC32;
  color: #fff !important;
  transform: translateX(0px) translateY(-40px);
    -webkit-transform: translateX(0px) translateY(-40px);
    -moz-transform: translateX(0px) translateY(-40px);
    -ms-transform: translateX(0px) translateY(-40px);
    -o-transform: translateX(0px) translateY(-40px);
    opacity: 1;
}*/
.count-box:hover,
.count-box:hover {
    -webkit-backface-visibility: hidden;
}
.counter i.fa {
    font-size: 40px;
    color: #FFCC33;
    width: 1.3em;
}
#download i.fa {
    font-size: 40px;
    color: #FFCC33;
    margin-bottom: 0.5em;
}
.count-box.last { border-right: 1px solid #d3d3d3 }
.a-zone:hover {
    background-color: #e5b112;
}
/* Portfolio / Works Sections */
#tst-team {
    padding: 60px 0;
    background-color: #ffff;
}
#team .item {
    padding: 30px 0px;
    margin: 5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.item .hover-bg {
    position: relative;
    overflow: hidden;
}
.hover-bg .hover-text {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 20px;
    color: #ffffff;
    transition: all 0.8s;
    -webkit-transition: all 08s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.hover-bg .hover-text.on { opacity: 1 }
.hover-bg .hover-text.off {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transform: translateX(100%) translateY(-90%);
    transform: translateX(100%) translateY(-90%);
    opacity: 1;
    background: rgba(0, 0, 0, 0.70);
}
.hover-bg:hover .hover-text.off {
    -webkit-transform: translateX(0%) translateY(-90%);
    transform: translateX(0%)  translateY(-90%);
    opacity: 1;
}
.owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    margin: 5px;
    background: #bababa;
}
/* Why Us or Features Section */
#tst-features,
.features-content { padding: 0 30px 30px }
.features-content h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333333;
}
.nav.nav-pills > li > a {
    position: relative;
    display: block;
    color: #6f7176;
    background-color: #ffffff;
    padding: 25px;
    border-bottom: 3px solid #cccccc;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.nav.nav-pills > li > a small {
    text-transform: lowercase;
    font-style: italic;
}
.nav.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #E5B112;
    padding: 25px;
    border-bottom: 3px solid #996600;
}
.nav-pills > li > a { border-radius: 4px }
ul.features li span.fa {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
    clear: both;
    margin-top: 5px;
}

/* Trainer trainee */
#tst-trainer-trainees img {
  max-height: 300px;
}

#tst-trainer-trainees #arrows {
  max-height: 200px;
}

@media (max-width: 992px) {
   img.desktop {
     display: none;
   }
   img.mobile {
     display: block;
   }
}
@media (min-width: 992px) {
   img.desktop {
     display: block;
   }
   img.mobile {
     display: none;
   }
}

/*RETINA*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    
}

/* Portfolio or works blocks */
#tst-works { padding: 60px 0 }
ul.cat { margin: 30px 0 }
ul.cat li a {
    background: inherit;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
}
ul.cat li a:hover,
ul.cat li a:focus,
ul.cat li a.active {
    background: #f1f1f1;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
    color: inherit;
}
.nopadding { padding: 0 }
#arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.carousel-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
}
.box .hover-bg {
    position: relative;
    overflow: hidden;
}
.box .hover-bg .hover-text {
    height: 100%;
    bottom: 0;
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    background: transparent;
}
.box:hover .hover-bg .hover-text { background-color: rgba(1, 1, 1, 0.5) }
.box .hover-bg:hover .hover-text.off {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}
.box .hover-text i.fa {
    font-size: 20px;
    background: #e5b112;
    padding: 13px;
    position: relative;
    top: 40%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: all 0.5s;
}
.box .hover-text i.fa:hover { background: #333333 }
.box .hover-text i.fa.fa-expand {
    border-top-right-radius: 0;
    -webkit-transform: translateX(-400%) translateY(0%);
    transform: translateX(-400%)  translateY(0%);
    opacity: 0;
    transition: all 0.5s;
}
.box:hover .hover-text i.fa.fa-expand {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}
.box .hover-text i.fa.fa-chain {
    border-top-left-radius: 0;
    -webkit-transform: translateX(400%) translateY(0%);
    transform: translateX(400%)  translateY(0%);
    opacity: 0;
    transition: all 0.5s;
}
.box:hover .hover-text i.fa.fa-chain {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}

#tst-testimonies blockquote {
  border: none;
}

#tst-testimonies blockquote q {
  font-style: normal;
}

#tst-testimonies blockquote footer {
  font-style: italic;
}

/* Style 2 - Not Fullwidth */
#itemsWorkThree .box,
#itemsWorkTwo .box { margin-bottom: 30px }
#itemsWorkTwo .hover-bg .hover-text { padding: 30% 0 }
#itemsWorkTwo .box:hover .hover-bg .hover-text {
    background-color: rgba(255, 223, 125, 0.70);
    border: 10px solid rgba(185, 156, 72, 0.80);
}
#itemsWorkTwo .box .hover-bg .hover-text h5 small {
    text-transform: capitalize;
    color: #000000;
}
#itemsWorkTwo .box .hover-bg .hover-text h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform: translateX(0%) translateY(400%);
    transform: translateX(0%)  translateY(400%);
    opacity: 0;
    transition: all 0.5s;
}
#itemsWorkTwo .box:hover .hover-bg .hover-text.off h5 {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%)  translateY(0%);
    opacity: 1;
}
#itemsWorkTwo .box .hover-text i.fa {
    font-size: 20px;
    background: transparent;
    padding: 13px;
    position: relative;
    top: 40%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: all 0.5s;
    border: 1px solid #ffffff;
}
#itemsWorkTwo .box .hover-text i.fa:hover { background: #333333 }
/* Portfolio Style #3 */
#itemsWorkThree .box h5 {
    border: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;
}
/* Isotope Filter */
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
    font-size: 14px;
    background: #f1f1f1;
    border: 1px solid #333;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 35px;
    border-radius: 2px;
}
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #ffffff !important;
    background: rgba(255, 255, 255, 1) !important;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav,
.nivo-lightbox-theme-default .nivo-lightbox-close { opacity: 1 }
.nivo-lightbox-error {
    color: #C59A6D !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    border-top: 4px solid #ffcc33;
}
/* Single Portfolio Detail */
#work-detail-one,
#work-detail-two,
#work-detail-three { padding: 60px 0 }
.work-detail .dl-horizontal dt {
    text-align: left;
    margin-bottom: 10px;
}
.work-related-thumb { margin-bottom: 30px }
.work-related-thumb .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.work-related-thumb .img-thumbnail:hover { opacity: 0.8 }
/* Process Section */
#tst-process { padding: 60px 0 }
.process i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #FFCC33;
    color: #ffffff;
    padding: 25px 0;
    border: 4px solid #ffffff;
    border-radius: 50px;
    border-top-left-radius: 0;
    margin: 0 10px;
    margin-right: 20px;
    width: 92px;
    height: 90px;
    transition: background-color 0.5s;
}
.gray-bg {
    background-color: #eeeeee;
}
#process { padding: 60px 0 20px 0 }
.process { margin-bottom: 40px }
/* Pricing Section */
#tst-pricing { padding: 60px 0 }
.price h1 { font-size: 50px }
.price { text-align: center }
.price.panel-default { border-color: #333 }
.price.panel-default > .panel-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    background-color: #333333;
    border-color: inherit;
}
.price .panel-heading { padding: 30px 15px }
.price .panel-body { border-bottom: 1px solid }
.price ul.list-unstyled { padding: 20px }
.price ul.list-unstyled li { padding: 10px 0 }
.price ul.list-unstyled li small { margin-top: -10px }
/* Featured */
.price.featured {
    -moz-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.31);
}
.price.featured.panel-default {
    border-color: #ffcc33;
    background-color: #ffffff;
    margin-top: -20px;
    position: relative;
    z-index: 1;
    margin-left: -5px;
    margin-right: -5px;
}
.price.featured.panel-default { border-color: #ffcc33 }
.price.featured.panel-default > .panel-heading { background-color: #ffcc33 }
.featured .panel-body { margin-top: 20px }
.featured .panel-body,
.featured.panel-default > .panel-heading { border-color: #ffcc33 }
.featured .tf-btn { margin-top: 20px }
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
    outline: 0;
    outline-offset: 0;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tf-btn {
    font-size: 12px;
    word-spacing: 2px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #333333;
    text-transform: uppercase;
    border-color: #333333;
    transition: all 0.5s;
}
.tf-btn:focus,
.tf-btn:hover {
    background-color: #333333;
    border-color: #ffcc33;
}
.color {
    background-color: #ffcc33;
    border-color: #ffcc33;
}
.color:focus,
.color:hover {
    border-color: #333333;
    background-color: #ffcc33;
}
/* Blog Section */
#tst-blog,
#blog-post { padding: 60px 0 }
#blog-post a.btn { margin: auto 0 }
.post-wrap { position: relative }
.media.post {
    background: #fff;
    padding: 10px;
}
.post-wrap {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.post-meta {
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 5px 10px;
    height: auto;
    position: relative;
    min-height: 35px;
}
ul.metas li:after {
    content: ' / ';
    margin-right: 3px;
    margin-left: 3px;
}
ul.metas li:last-child:after { content: ' ' }
ul.metas li a { color: #e5b112 }
.meta-detail {
    background: #f4f4f4;
    border-radius: 3px;
    padding: 2px;
}
/* Support us */
#support-us-details img {
  float: right;
  max-width: 150px;
  margin-left: 10px;
}
/* Contact Section */
/*********************************
/* Map Section
**********************************/
#map {
    position: relative;
    width: 100%;
    height: 400px;
}
.contact-detail {
    text-align: center;
    margin: 60px 0;
}
.contact-detail i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #FFCC33;
    color: #ffffff;
    padding: 25px 0;
    border-radius: 50px;
    border-top-left-radius: 0;
    margin: 0 10px;
    margin-right: 20px;
    width: 82px;
    height: 80px;
    transition: color 0.5s;
}
.contact-detail:hover i.fa { color: #676767 }
form#contact-form { padding: 40px 0 }
.contact form#contact-form {padding: 0}
.form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
form#contact-form .g-recaptcha > div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
p.help-block.text-danger ul li {
    display: block;
    margin-left: -20px;
    color: #676767;
}
#success .alert-danger {
    color: #FFCC33;
    background-color: #FDFDFD;
    border-color: #FFCC33;
    margin-bottom: 10px;
}
/* Back to top icon */

.go-top {
  position: fixed;
  right: 20px;
  bottom: -45px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 35px;
  color: #6f6f6f;
  background-color: #ffcc33;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
  border-radius: 3px;
}

.go-top.visible {
  visibility: visible;
  bottom: 11px;
}

/* Footer */
#tst-footer {
    padding-top: 3%;
    padding-bottom: 0;
    background-color: #996a99;
    color: #ffffff;
    font-size: 13px;
}
#tst-footer a {
    color: #ffffff;
}
#tst-footer p {
    font-size: 13px;
}
#tst-footer ul#foot-nav {
  list-style: none;
  padding: 0;
}
#tst-footer ul#foot-nav li:before {
    content: "\2192 \0020";
}
#tst-footer address {
    display: inline-table;
    text-align: left;
}
#tst-footer ul {
    display: inline-table;
    text-align: left;
}
ul.social li a i {
    font-size: 26px;
    background: transparent;
    width: 32px;
    height: 32px;
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s;
}

ul.social li a i:hover { border-color: #ffffff }

/* FAQ */

#FAQ h3 {
  text-align: center;
}

#FAQ h4 {
  text-align: center;
}

#FAQ p {
  margin: 0;
  margin-bottom: 2px;
  text-align: justify;
}

#FAQ p.standout {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

#FAQ p.text-center {
  text-align: center;
}

#FAQ .faq-q p {
  font-weight: bold;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 6px;
}

#FAQ .modal-footer {
  padding: 15px;
  padding-right: 40px;
}

/* Blog Page */
.blog .media.post {
    background: #fff;
    padding: 10px;
    border: 1px solid #E9E9E9;
    border-bottom-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog .post-meta {
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 5px 10px;
    height: auto;
    position: relative;
    min-height: 35px;
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 0;
    line-height: 1.42857143;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FFCC33;
    border: 1px solid #FFCC33;
    margin: 3px 3px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}
.pagination > li > a.active,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #FFFFFF;
    background-color: #ddab15;
    border-color: #ddab15;
}
/* Sidebar */
.widget {
    margin-bottom: 40px;
    padding: 0 20px;
}
.comment h4,
.widget h4,
h4.text-uppercase {
    font-weight: 300;
    color: #FFCC33;
}
.comment h4 span.comments { color: #333333 }
/* Search */
button.btn.btn-default {
    padding: 11px 15px;
    color: #ffffff;
    background: #FFCC33;
}
/* Categories and Archive Widget */
ul.bullet-lists { margin-top: 20px }
ul.list-unstyled.bullet-lists li span.fa.fa-circle {
    font-size: 8px;
    vertical-align: middle;
    margin-right: 10px;
    color: #FFCC33;
}
ul.list-unstyled.bullet-lists li { padding: 5px 0 }
ul.list-unstyled.bullet-lists li:hover { color: #FFCC33 }
/* Post Tab */
.post-tab .nav-tabs > li > a {
    margin-right: -1px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 0px 0px 0 0;
}
.post-tab .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
.post-tab .nav-tabs > li > a:hover,
.post-tab .nav-tabs > li > a:focus {
    color: #FFF;
    background-color: #FC3;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/* Tags */
ul.list-inline.bullet-lists li a { color: inherit }
ul.list-inline.bullet-lists li {
    background: #F8F8F8;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 2px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    transition: all 0.3s;
}
ul.list-inline.bullet-lists li:hover { background: #FFCC33 }
/* Single Blog Post */
.blog-post .post-wrap img,
.work-detail img.featured { margin: 20px 0 }
ul.meta-tags li a { font-style: italic }
ul.meta-tags li:after { content: ',' }
ul.meta-tags li:last-child:after { content: ' ' }
/* Author Box */
.media.post-author {
    background: #ffcc33;
    padding: 20px;
    margin-top: -1px;
}
.media.post-author a { content: inherit }
.blog-post .post-wrap {
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid #DDDDDD;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
/* Comment */
.media.comment-block {
    border: 1px solid #DDD;
    padding: 20px;
}
.comment { margin-top: 40px }
.comment form { margin-top: -30px }
.comment input,
.comment textarea { margin-bottom: 15px }
